{% extends 'base.html' %}

{% block title %}About USL{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#ffcba4, white);">
    <div class="container">
        <div class="row">
            <div class="col-12 align-items-center d-flex">
                <div class="text-center mx-auto">
                    <h1 class="mb-5">Our Mission is to <i>Accelerate</i> Scientific Discovery</h1>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6 align-items-center d-flex">
                <div class="text-center">
                    <img src='/static/scientists.png' id="scientists"
                        alt="We are a group of chemical engineers that had a hard time quickly finding analytical labs that could provide effective testing support.">
                </div>
            </div>

            <div class="col-6 align-items-center d-flex">
                <div class="text-center">
                    <p class="about-us-text"> 
                        We are a group of chemical engineers that had a hard time quickly 
                        finding analytical labs that could provide effective testing support. 
                    </p>

                    <p class="mb-4 about-us-text">
                        We developed this platform so your scientific research 
                        - or your weekend side project - does not stop at just a thought. 
                    </p>

                    <a class="btn btn-reversed mx-auto" 
                        href="{{ url_for('views.index') }}" role="button"
                        style="width: auto">
                        Browse our tests
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>





<div class="container my-5">
    <div class="row pb-5">
        <div class="col-md-12 text-center d-flex flex-column justify-content-center"> 
            <h1>How It Works</h1>
        </div>
    </div>

    <div class="row pb-5" data-aos="fade-up">
        <div class="col-md-6 text-center d-flex flex-column justify-content-center"> 
            <h1>Choose a Laboratory Service</h1>
        </div>
        <div class="col-md-6 text-center d-flex flex-column justify-content-center"> 
            <p>
                Search and select from our extensive database of services for the exact 
                the laboratory service that you need to get done. Search by turnaround time, 
                location, and equipment availability. 
            </p>
        </div>
    </div>


    <div class="row pb-5" data-aos="fade-up">
        <div class="col-md-6 text-center d-flex flex-column justify-content-center"> 
            <h1>Send Your Sample</h1>
        </div>
        <div class="col-md-6 text-center d-flex flex-column justify-content-center"> 
            <p>
                Once your request is approved, print your shipping label and use any of our 
                approved mail service providers to send your sample.
            </p>
        </div>
    </div>

    <div class="row pb-5" data-aos="fade-up">
        <div class="col-md-6 text-center d-flex flex-column justify-content-center"> 
            <h1>Receive Results</h1>
        </div>
        <div class="col-md-6 text-center d-flex flex-column justify-content-center"> 
            <p>
                Track the status of your sample and review your results using our secure portal. 
            </p>
        </div>
    </div>

</div>







<div style="background-image:linear-gradient(#11296b, #1e96fc);">
    <div class="container py-5">
        <div class="row" style="height: 300px">
            <div class="col-md-12 text-center d-flex flex-column justify-content-center"> 
                
                <h1 class="mb-5" style="color: white;">Realize Your Innovative Vision</h1>

                <a class="btn btn-primary mx-auto" 
                href="{{ url_for('views.index') }}" role="button"
                style="width:auto">
                Let's get started
                </a>

            </div>
        </div>
    </div>
</div>


{% endblock %}