{% extends 'base.html' %}

{% block title %}USL | Find a Lab Near You{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container my-5 py-5 top-section-with-background">

    <!--INNER DIV 1-->
    <div class="d-flex justify-content-center">

        <div class="mb-3">
            <h1 class="text-center">Find Your Perfect Lab Partner</h1>
        </div>

    </div>


    <form action="{{ url_for('views.index') }}" method="POST">

        <!--INNER DIV 2 for the form inputs-->
        <div class="row d-flex align-items-center justify-content-center">

            <div class="form-group col-md-5 d-flex align-items-center justify-content-center">

                <div class="mb-3 mb-md-0">

                        <select name="selected_test" class="form-select" 
                            style="width:auto" id="test_select">

                            <option selected disabled="disabled">Choose a lab test</option>
                            {% for test in tests %}
                                <option value="{{ test.name }}">{{ test.name }}</option>
                            {% endfor %}

                        </select>

                </div>
                
            </div>


            <div class="form-group col-md-3 d-flex align-items-center justify-content-center">

                <div class="form-floating mb-3 mb-md-0">

                    <input type="text" pattern="[0-9]{5}" name="zipcode"
                        class="form-control" 
                        id="zipcode"
                        placeholder="ZIP Code"/>
                    <label for="zipcode">ZIP Code</label>

                </div>
                
            </div>


            <div class="form-group col-md-3 d-flex align-items-center justify-content-center">

                <div class="mb-3 mb-md-0">
            
                    <input type="date" id="date-picker" class="form-control"
                        name="date-picker" value="{{ date }}">

                </div>
                
            </div>

        </div>


        <!--INNER DIV 3 for the submit button-->
        <div class="row pt-5">

            <div class="form-group d-flex justify-content-center">

                <button type="submit" 
                    class="btn btn-outline-primary"
                    style="width:auto">
                    Find a Lab
                </button>

            </div>

        </div>

    </form>



</div>





<div class="container my-5">
    <div class="row" data-aos="fade-up" style="height: 350px">

        <div class="col-md-12 text-center d-flex flex-column justify-content-center" 
            style="background-color:#eace5f">

            <h1 class="pb-4">List Your Lab with Unified Labs</h1>

            <a class="btn btn-outline-primary mx-auto" 
            href="{{ url_for('contact.contact_function') }}" role="button"
            style="width:auto">
            
            Join Us
            </a>


        </div>
    </div>
</div>





<div class="container my-5">

    <div class="row section-with-background" data-aos="fade-up" style="height: 350px">

        <div class="col-md-12">

            <h1 class="py-3">Hundreds of Analytical Experts</h1>

            <a class="btn btn-outline-primary" 
            href="#" role="button"
            style="width:auto">
            
            Find Yours
            </a>

        </div>

    </div>

</div>








<br><br><br><br>
<br><br><br><br>

{% endblock %}

