{% extends 'base.html' %}

{% block title %}USL | Provider Requests{% endblock %}


{% block head %}
{% endblock %}


{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<div class="container mt-5">
    <h1>Provider Requests</h1>
    <br>
    <p>Showing test requests for: <b>{{ user.lab_name }}</b>

    </p>
</div>



<div class="container py-5" style="overflow-x: auto;">

    <table id="lab_requests_table">
        <thead>
            <tr>
                <th class="text-center" scope="col" style="width: 10%;">Test Name</th>
                <th class="text-center" scope="col" style="width: 15%;">Date/Time Submitted by Customer</th>
                <th class="text-center" scope="col" style="width: 10%;">Sample Description</th>
                <th class="text-center" scope="col" style="width: 4%;"># of Samples</th>
                <th class="text-center" scope="col" style="width: 15%;">Extra Notes</th>
                <th class="text-center" scope="col" style="width: 3%;">Approval Status</th>
                <th class="text-center" scope="col" style="width: 5%;">Edit Approval Status</th>
                <th class="text-center" scope="col" style="width: 5%;">Payment Status</th>
                <th class="text-center" scope="col" style="width: 4%;">Transit Status</th>
                <th class="text-center" scope="col" style="width: 5%;">Manage Results</th>
            </tr>
        </thead>


        <tbody>
            {% for lab_request in lab_requests %}
                <tr>
                    <td class="text-center">{{ lab_request.test_name }}</td>
                    <td class="text-center">{{ lab_request.datetime_submitted }}</td>
                    <td class="text-center">{{ lab_request.sample_description }}</td>
                    <td class="text-center">{{ lab_request.number_of_samples }}</td>
                    <td class="text-center">{{ lab_request.extra_requirements }}</td>
                    <td class="text-center">{{ lab_request.approval_status }}</td>

                    <td class="text-center">
                        
                        <!-- Approved button -->
                        {% if lab_request.approval_status|lower != "approved" %}

                            <!--Note that the "return" keyword is important. It ensures that the form
                                is only submitted if the function returns true.-->
                            <form action="{{ url_for('views.lab_requests') }}" 
                                method="POST"
                                onsubmit="return confirmApproval()">

                                <!--pass extra data to the Flask route-->
                                <input type="hidden" name="id" value="{{ lab_request.request_id }}">
                                <input type="hidden" name="action" value="approve">

                                <input type="submit" class="btn btn-outline-success mt-2 mb-1 btn-sm" value="Approve">
                            </form>

                        {% endif %}

                        <!-- Need More Details button -->
                        {% if "need more details" not in lab_request.approval_status|lower %}

                            <button type="button" class="btn btn-outline-danger mt-1 mb-2 btn-sm" 
                                data-bs-toggle="modal" data-bs-target="#exampleModal" 
                                data-myvar="{{ lab_request.request_id }}"
                                data-testname-var="{{ lab_request.test_name }}">

                                Need more details

                            </button>

                        {% endif %}

                    </td>

                    <td class="text-center">{{ lab_request.payment_status }}</td>
                    <td class="text-center">{{ lab_request.transit_status }}</td>


                    <!-- Manage test results -->
                    <td class="text-center">
                        <form action="{{ url_for('views.manage_results') }}" method="POST">
                            <input type="hidden" name="test_name" value="{{ lab_request.test_name }}">
                            <input type="hidden" name="request_id" value="{{ lab_request.request_id }}">
                            <input type="submit" class="btn btn-primary my-1" value="Select">
                        </form>
                    </td>

                </tr>

            {% endfor %}
        </tbody>

    </table>





    <!-- Modal -->
    <div class="modal fade" 
            id="exampleModal" 
            tabindex="-1" 
            aria-labelledby="exampleModalLabel" 
            aria-hidden="true"
            data-backdrop="static"
            data-bs-focus-backdrop="false">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Additional Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Test requested: <span id="myvar-value"></span></p>
                    <textarea id="additional-details" name="additional-details" 
                        class="form-control" rows="3" placeholder="What questions do you have for the customer?">

                    </textarea>
                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>

                    <button type="button" class="btn btn-primary" id="save-button">
                        Save changes
                    </button>

                </div>
            
            </div>
        </div>

    <!-- END OF MODAL -->
    </div>




</div>





<script>

    function confirmApproval() {
        var result = confirm("Are you sure you want to change the status to 'Approved'?");
    
        if (result) {
        return true;
        } else {
        return false;
        }
    };






    var myModal = document.getElementById('exampleModal')
    myModal.addEventListener('show.bs.modal', function (event) { // When the modal appears, run this function.

        var button = event.relatedTarget // Button that triggered the modal
        var myvar = button.getAttribute('data-testname-var') // Extract info from data-* attributes        
        var modalBody = myModal.querySelector('.modal-body') // Find the 'modal-body'.
        var myvarValue = modalBody.querySelector('#myvar-value') // Find the id=myvar-value in the modal-body.
        myvarValue.textContent = myvar // Set this element equal to the value passed from the original button
        localStorage.setItem("request_id", myvar)
        
        var additionalDetails = modalBody.querySelector('#additional-details') // Find the additional-details id
        additionalDetails.value = '' // Set the textarea to blank each time the modal appears

    });




    var modalFooter = myModal.querySelector('.modal-footer') // Find the modal-footer
    var saveButton = modalFooter.querySelector('#save-button') // Find the save button in the modal-footer
    saveButton.addEventListener('click', function() { // Add an event listener to the save button
        
        selected_request_id = localStorage.getItem("request_id")
        var modalBody = myModal.querySelector('.modal-body') // Find the 'modal-body'.
        var additionalDetails = modalBody.querySelector('#additional-details') // Find the additional-details id
    
        var new_data = [
            {"id": selected_request_id},
            {"action": 'deny'},
            {"additional_details": additionalDetails.value}
        ];

        // Using JQuery (AJAX) to send a post request. 
        $.ajax({
            url: "{{ url_for('views.submit_details') }}",
            type: 'POST',
            data: JSON.stringify(new_data),
            contentType: "application/json",
            dataType: 'json',

            success: function(result) {
                console.log("Result:");
                console.log(result);
                var id = result[0].id;
                alert("Successfully updated record for ID #: " + id +
                    ". An email has been sent to the customer.");
                location.reload();
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Error: " + xhr.responseText);
            }
        });

        });



</script>

{% endblock %}

