{% extends 'base.html' %}

{% block title %}Unified Science Labs | Provider Results{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Select a lab</h1>
    <br>
    <p>Here is a list of labs in your area that can perform this test: 
        <b>{{ selected_test }}</b>
    </p>

    <p>All prices are <i>per sample</i>.</p>
</div>



<div class="container pb-5 pt-3" style="overflow-x: auto;">
    <table class="mx-auto" id="lab_choice_table">
        <thead>
            <tr>
                <th class="text-center" scope="col" style="width: 40%;">Lab Name</th>
                <th class="text-center" scope="col" style="width: 10%;">Test Price [$USD]</th>
                <th class="text-center" scope="col" style="width: 10%;">Turnaround [days]</th>
                <th class="text-center" scope="col" style="width: 10%;">Distance [miles]</th>
                <th class="text-center" scope="col" style="width: 15%;">City</th>
                <th class="text-center" scope="col" style="width: 10%;">State</th>
                <th class="text-center" scope="col" style="width: 10%;">Select</th>
            </tr>
        </thead>


        <tbody>

            {% for row, distance in combined_data %}
            <tr>
                <td class="text-center">{{ row.name }}</td>
                <td class="text-center" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip text">{{ row.price }}</td>
                <td class="text-center">{{ row.turnaround }}</td>
                <td class="text-center">{{ distance }}</td>
                <td class="text-center">{{ row.city }}</td>
                <td class="text-center">{{ row.state }}</td>

                <td class="text-center">
                    
                    <form action="{{ url_for('views.lab_function') }}" method="POST">
                        <input type="hidden" name="lab_name" value="{{ row.name }}">
                        <input type="submit" class="btn btn-primary m-1" value="Choose Lab">
                    </form>

                </td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

</div>


<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>


{% endblock %}