{% extends 'base.html' %}

{% block title %}USL | Provider Results{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1>Choose your lab</h1>
    <br>
    <p>Here is a list of labs in your area that can perform this test: 
        <b>{{ selected_test }}</b>

    </p>
</div>



<div class="container py-5" style="overflow-x: auto;">
    <table class="mx-auto" id="lab_choice_table">
        <thead>
            <tr>
                <th class="text-center" scope="col" style="width: 40%;">Lab Name</th>
                <th class="text-center" scope="col" style="width: 10%;">Price [$USD]</th>
                <th class="text-center" scope="col" style="width: 10%;">Turnaround [days]</th>
                <th class="text-center" scope="col" style="width: 10%;">Distance [miles]</th>
                <th class="text-center" scope="col" style="width: 15%;">City</th>
                <th class="text-center" scope="col" style="width: 10%;">State</th>
                <th class="text-center" scope="col" style="width: 10%;">Select</th>
            </tr>
        </thead>


        <tbody>
            {% for lab in lab_query %}
                <tr>
                    <td class="text-center">{{ lab.name }}</td>
                    <td class="text-center">
                        {% for row in price_turnaround_table %}
                            {% if row.lab_id == lab.id %}
                                {{ row.price }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="text-center">
                        {% for row in price_turnaround_table %}
                            {% if row.lab_id == lab.id %}
                                {{ row.turnaround }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="text-center">50</td>
                    <td class="text-center">{{ lab.city }}</td>
                    <td class="text-center">{{ lab.state }}</td>

                    <td class="text-center">
                        
                        <form action="{{ url_for('views.lab_function') }}" method="POST">
                            <input type="hidden" name="lab_id" value="{{ lab.id }}">
                            <input type="submit" class="btn btn-primary m-1" value="Choose Lab">
                        </form>

                    </td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}