{% extends 'base.html' %}

{% block title %}Order Confirmation | Unified Science Labs{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>



<div class="container my-5">

    <h3>Everything looks good, {{ user.first_name }}!</h3>

    {% if label_purchase == 'yes' %}

    <p>
        Follow this URL to download your shipping label: {{ transaction.label_url }}
    </p>
    <p>
        Here is the tracking number for your shipment: {{ transaction.tracking_number }}
    </p>

</div>

<div class="row align-items-center">
    <div class="col-12">
        <a href="{{ url_for('views.index') }}">
            <button type="button" class="btn btn-primary">Return to homepage</button>
        </a>                        
    </div>
</div>

{% endblock %}