{% extends 'base.html' %}

{% block title %}USL | Edit Settings{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<div class="container my-5">

    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center">Profile for <u>{{ lab.name }}</u></h2>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col">
            <h3>My Info</h3>
        </div>
    </div>

    <div class="table-responsive mx-5 pb-4">
        <table class="table table-bordered">

            <tbody>

                    <tr>
                        <td class="text-center align-middle"><b>Lab Name</b></td>
                        <td class="text-center align-middle">{{ lab.name }}</td>
                        <td class="text-center align-middle">
                            <form action="{{ url_for('views.provider_settings') }}" method="POST">
                                <input type="hidden" name="id" value="{{ lab.id }}">
                                <input type="hidden" name="field_name" value="name">
                                <input type="submit" class="btn btn-primary my-1" value="Edit">
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center align-middle"><b>Email</b></td>
                        <td class="text-center align-middle">{{ lab.email }}</td>
                        <td class="text-center align-middle">
                            <form action="{{ url_for('views.provider_settings') }}" method="POST">
                                <input type="hidden" name="id" value="{{ lab.id }}">
                                <input type="hidden" name="field_name" value="email">
                                <input type="submit" class="btn btn-primary my-1" value="Edit">
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center align-middle"><b>Password</b></td>
                        <td class="text-center align-middle">*********</td>
                        <td class="text-center align-middle">
                            <form action="{{ url_for('views.provider_settings') }}" method="POST">
                                <input type="hidden" name="id" value="{{ lab.id }}">
                                <input type="hidden" name="field_name" value="password">
                                <input type="submit" class="btn btn-primary my-1" value="Edit">
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center align-middle"><b>City</b></td>
                        <td class="text-center align-middle">{{ lab.city }}</td>
                        <td class="text-center align-middle">
                            <form action="{{ url_for('views.provider_settings') }}" method="POST">
                                <input type="hidden" name="id" value="{{ lab.id }}">
                                <input type="hidden" name="field_name" value="city">
                                <input type="submit" class="btn btn-primary my-1" value="Edit">
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center align-middle"><b>State</b></td>
                        <td class="text-center align-middle">{{ lab.state }}</td>
                        <td class="text-center align-middle">
                            <form action="{{ url_for('views.provider_settings') }}" method="POST">
                                <input type="hidden" name="id" value="{{ lab.id }}">
                                <input type="hidden" name="field_name" value="state">
                                <input type="submit" class="btn btn-primary my-1" value="Edit">
                            </form>
                        </td>
                    </tr>
    
            </tbody>
    
        </table>
    
    </div>

    <br>


    <h3>Test Offerings & Pricing</h3>

    <div class="table-responsive mx-5 py-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center align-middle" scope="col">Test Name</th>
                    <th class="text-center align-middle" scope="col">Price [$]</th>
                    <th class="text-center align-middle" scope="col">Edit</th>
                </tr>
            </thead>

            <tbody>
                {% for row in tests_and_pricing %}
                    <tr>
                        <td class="text-center align-middle">{{ row[0] }}</td>
                        <td class="text-center align-middle">{{ row[1] }}</td>
    
                        <td class="text-center align-middle">
                            <form action="#" method="POST">
                                <input type="hidden" name="id" value="{{ lab.id }}">
                                <input type="submit" class="btn btn-primary my-1" value="Edit">
                            </form>
                        </td>
                    </tr>
    
                {% endfor %}

            </tbody>
    
        </table>
    
    </div>

</div>


{% endblock %}