<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Made to Lab Request</title>
</head>

<body>
    <h1>Hey {{ lab_name }}! A testing request has been updated by the customer.</h1>

    <hr>

    <h2>Your Request Info</h2>

        <h4>Your latest response:</h4>
        <p>{{ labs_response }}</p>

        <ul>
            <li><strong>Test Name:</strong> {{ selected_test }}</li>
            <li><strong>Request ID:</strong> {{ request_id }}</li>
            <li><strong>Number of Samples:</strong> {{ number_of_samples }}</li>
            <li><strong>Sample Description:</strong> {{ sample_description }}</li>
            <mark><li><strong>Customer Notes:</strong> {{ extra_requirements }}</li></mark>
            <li><strong>Approval Status:</strong> {{ approval_status }}</li>
        </ul>

    <hr>

    <p>Please log in to review this request: https://www.unifiedsl.com/auth/lab.</p>

    <p>Sent from Unified Science Laboratories LLC (https://www.unifiedsl.com)</p>
</body>
</html>
