{% extends "base.html" %}

{% block title %}Reset Password Request{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<form action="{{ url_for('views.reset_password_request') }}" method="post">
    <input type="email" name="email" placeholder="Email">
    <input type="submit" value="Request Password Reset">
  </form>
  
  
{% endblock %}