{% extends 'base.html' %}

{% block title %}USL | Booking{% endblock %}

{% block head %}
{% endblock %}



{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<div class="container my-5">

    <h1>Welcome Back</h1>

    <p>
        Thanks for selecting <b>{{ lab_choice.name }}</b>.
        Please tell us a little bit about your specific testing requirements. 
    </p>

</div>



<div class="container my-5">

    <form action="{{ url_for('views.confirmation_returning_user') }}" method="POST">

        <div class="mb-3 col-md-8 col-lg-6">
            <h2>Your Sample Details</h2>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="sample_name" name="sample_name"
                placeholder="Sample Name" value="{{ sample_name }}">
            <label for="sample_name">Sample Name</label>
        </div>

        <div class="form-floating mb-3 col-md-12 col-lg-8">
            <textarea class="form-control" id="sample_description" name="sample_description"
                placeholder="Sample Description" value="{{ sample_description }}"></textarea>
            <label for="sample_description">Sample Description</label>
        </div>

        <div class="form-floating mb-3 col-sm-6 col-md-6 col-lg-3">
            <input type="number" class="form-control" id="turnaround" name="turnaround"
                placeholder="Turnaround Time [days]" value="{{ turnaround }}">
            </input>
            <label for="turnaround">Turnaround Time [days]</label>
        </div>

        <button type="submit" class="btn btn-outline-primary"
            id = submitButton>Submit</button>

    </form>

</div>






{% endblock %}