{% extends "base.html" %}

{% block title %}Buy a Shipping Label | Unified Science Labs{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#1e96fc, #11296b);">
    <div class="container">
        <div class="row mb-3 text-center">   
            <h1 class="mb-3" style="color: white;">Create a Shipping Label</h1>
            <p style="color: white;">
                With our in-house shipping label service, we'll help you get
                your sample delivered as fast as you need. 
            </p>
        </div>
    </div>
</div>

<div class="container my-5">

    <form method="POST">

        <div class="mb-5">
            <h4>Your Address Info:</h4>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="from_address_1" name="from_address_1"
                    placeholder="Street address 1">
                <label for="from_address_1">Street address 1</label>
            </div>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="from_address_2" name="from_address_2"
                    placeholder="Street address 2">
                <label for="from_address_2">Street address 2</label>
            </div>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="city" name="city"
                    placeholder="City">
                <label for="city">City</label>
            </div>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="state" name="state"
                    placeholder="State">
                <label for="state">State</label>
            </div>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="zip" name="zip"
                    placeholder="Zip code">
                <label for="zip">Zip code</label>
            </div>
        </div>

        <div class="mb-5">
            <h4>Address Details for <b>{{ lab.name }}</b>:</h4>
            <ul>
                <!-- info to be passed from view function-->
                <li>Street address 1: {{ lab.street_address_1 }}</li>
                <li>Street address 2: {{ lab.street_address_2 }}</li>
                <li>City: {{ lab.city }}</li>
                <li>State: {{ lab.state }}</li>
                <li>Zip code: {{ lab.zip_code }}</li>
            </ul>
        </div>


        <div>
            <h4>Sample Package Details:</h4>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="length" name="length"
                    placeholder="Length">
                <label for="length">Length</label>
            </div>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="width" name="width"
                    placeholder="Width">
                <label for="width">Width</label>
            </div>

            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="height" name="height"
                    placeholder="Height">
                <label for="height">Height</label>
            </div>

            <div class="form-group col-md-6">
                <select name="distance_units" class="form-select" 
                    style="width:auto" id="distance_units">
    
                    <option selected disabled="disabled">Distance unit of measure</option>
                    <option value="ft">ft</option>
                    <option value="in">in</option>
                    <option value="cm">cm</option>
                </select>
            </div>


            <div class="form-floating mb-3 col-md-8 col-lg-6">
                <input type="text" class="form-control" id="weight" name="weight"
                    placeholder="weight">
                <label for="weight">Weight</label>
            </div>

            <div class="form-group col-md-6">
                <select name="weight_units" class="form-select" 
                    style="width:auto" id="weight_units">
    
                    <option selected disabled="disabled">Weight unit of measure</option>
                    <option value="lb">lb</option>
                    <option value="kg">kg</option>
                </select>
            </div>
        </div>


        <div class="form-group pt-4">
            <button type="submit" 
                class="btn btn-primary"
                style="width:auto">
                View Shipping Rates
            </button>
        </div>


    </form>

</div>


{% endblock %}