{% extends 'base.html' %}

{% block title %}Shipping Rate Results | Unified Science Labs{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container py-5" style="overflow-x: auto;">
    <table class="mx-auto">
        <thead>
            <tr>
                <th class="text-center" scope="col">Carrier</th>
                <th class="text-center" scope="col">Service Level</th>
                <th class="text-center" scope="col">Price [$USD]</th>
                <th class="text-center" scope="col">Transit Time [days]</th>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>


        <tbody>
            {% for rate in rates %}
                <tr>
                    <td class="text-center">{{ rate.provider }}</td>
                    <td class="text-center">{{ rate.servicelevel.name }}</td>
                    <td class="text-center">{{ rate.amount }}</td>
                    <td class="text-center">{{ rate.estimated_days }}</td>

                    <td> 
                        <form action="{{ url_for('views.checkout', lab_id = lab_id, test_name = test_name) }}" method="POST">
                            <input type="hidden" name="selected_rate" value="{{ rate }}">
                            <input type="hidden" name="label_purchase" value="yes">
                            <input type="submit" class="btn btn-primary my-1" value="Select">
                        </form>
                    </td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}