{% extends 'base.html' %}

{% block title %}Customer Testing Requests | Unified Science Labs{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success mx-5" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container my-5" style="overflow-x: auto;">
    <table id="user_requests_table">
        <thead>
            <tr>
                <th class="text-center align-middle" scope="col">Test Name</th>
                <th class="text-center align-middle" scope="col">Current Status</th>
                <th class="text-center align-middle" scope="col">Lab's Response</th>
                <th class="text-center align-middle" scope="col">Request ID</th>
                <th class="text-center align-middle" scope="col">Sample Description</th>
                <th class="text-center align-middle" scope="col"># of Samples</th>
                <th class="text-center align-middle" scope="col" style="width: 30%">Customer Notes</th>
                <th class="text-center align-middle" scope="col">Lab Name</th>
                <th class="text-center align-middle" scope="col" style="width: 15%;">Date/Time Submitted</th>
                <th class="text-center align-middle" scope="col">Purchase</th>
            </tr>
        </thead>

        <tbody>
            {% for my_request, name in my_requests %}
                <tr>
                    <td class="text-center align-middle">{{ my_request.test_name }}</td>

                    {% if my_request.approval_status == 'Need more details' %}
                    <td>
                        <form action="{{ url_for('views.user_more_details') }}" method="POST">
                            <input type="hidden" name="request_id" value="{{ my_request.request_id }}">
                            <input type="hidden" name="lab_name" value="{{ name }}">
                            <input type="hidden" name="extra_requirements" value="{{ my_request.extra_requirements }}">
                            <input type="hidden" name="labs_response" value="{{ my_request.labs_response }}">
                            <input type="submit" class="btn btn-more-details" value="Need more details" style="white-space: normal;">
                        </form>
                    </td> 
                    {% else %}
                    <td class="text-center align-middle">{{ my_request.approval_status }}</td>
                    {% endif %}

                    <td class="text-center align-middle">{{ my_request.labs_response }}</td>
                    <td class="text-center align-middle">{{ my_request.request_id }}</td>
                    <td class="text-center align-middle">{{ my_request.sample_description }}</td>
                    <td class="text-center align-middle">{{ my_request.number_of_samples }}</td>                    
                    <td class="text-center align-middle">{{ my_request.extra_requirements }}</td>
                    <td class="text-center align-middle">{{ name }}</td>
                    <td class="text-center align-middle">{{ my_request.datetime_submitted }}</td>
                    <td class="text-center align-middle">

                        {% if my_request.approval_status == 'Approved' %}

                            <form action="{{ url_for('views.user_requests') }}" method="POST">
                                <input type="hidden" name="lab_name" value="{{ name }}">
                                <input type="hidden" name="test_name" value="{{ my_request.test_name }}">
                                <input type="hidden" name="number_of_samples" value="{{ my_request.number_of_samples }}">
                                <input type="hidden" name="request_id" value="{{ my_request.request_id }}">
                                <input type="submit" class="btn btn-primary mt-3 mb-1 btn-sm" value="Buy Shipping Label & Test">
                            </form>

                            <form action="{{ url_for('views.checkout', lab_name = name, test_name = my_request.test_name) }}" method="POST">
                                <input type="hidden" name="label_purchase" value="no">
                                <input type="hidden" name="number_of_samples" value="{{ my_request.number_of_samples }}">
                                <input type="hidden" name="request_id" value="{{ my_request.request_id }}">
                                <input type="submit" class="btn btn-primary mb-3 mt-1 btn-sm" value="Purchase Test Only">
                            </form>

                        {% else %}

                            Request not yet approved

                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}