boto3==1.26.131
Flask==2.2.2
flask_login==0.6.2
flask_mail==0.9.1
Flask-Session==0.4.0
Flask-Sitemap==0.4.0
Flask_SQLAlchemy==2.5.1
gunicorn==20.1.0
itsdangerous==2.1.2
MarkupSafe==2.1.2
phonenumbers==8.13.6
pgeocode==0.4.0
PyJWT==2.6.0
PyMySQL==1.0.2
python-dotenv==1.0.0
PyYAML==6.0
requests==2.27.1
shippo==2.1.2
SQLAlchemy==1.4.39
stripe==5.2.0
Werkzeug==2.2.2
