{% extends "base.html" %}

{% block title %}Lab Login{% endblock %}

{% block content %}


<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="alert alert-danger mx-5" role="alert">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>






<!--LOGIN-->
<div class="container my-5">

    <form action="{{ url_for('auth.provider_login') }}" method="POST">


        <h3>Provider Login</h3>
        <p>Returning providers login here</p>


        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="form-floating mb-3">
                    <input type="text" id="email" placeholder="Email"
                        class="form-control" name="email">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="form-floating mb-3">
                    <input type="password" id="password" placeholder="Password"
                        class="form-control" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Login</button>

    </form>

</div>


<!--SIGNUP-->
<div class="container my-5">
    <div class="row" style="height: 250px">

        <div class="col-md-12 text-center d-flex flex-column justify-content-center" 
            style="background-color:#eace5f">

            <h3 class="pb-4">Want to join Unified Labs?</h3>
            <a class="btn btn-primary mx-auto" 
            href="{{ url_for('contact.contact_function') }}" role="button"
            style="width: auto">
            
            Contact Us
            </a>

        </div>

    </div>

</div>



{% endblock %}