{% extends "base.html" %}

{% block title %}Lab Login{% endblock %}

{% block content %}


<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="alert alert-danger mx-5" role="alert">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>






<!--LOGIN-->
<div class="container my-5">

    <form action="{{ url_for('auth.lab_login') }}" method="POST">

        <h3>Lab Login</h3>
        <p>Returning labs login here</p>

        <div class="form-floating mb-3">
            <input type="text" id="email" placeholder="Email"
                class="form-control" name="email">
            <label for="email">Lab Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="password" placeholder="Password"
                class="form-control" name="password">
            <label for="password">Password</label>
        </div>

        <button type="submit" class="btn btn-outline-primary">Login</button>

    </form>

</div>


<!--SIGNUP-->
<div class="container my-5">

        <h3 class="my-3">Want to join Unified Labs?</h3>
        <a class="btn btn-outline-primary mx-auto" 
        href="{{ url_for('contact.contact_function') }}" role="button"
        style="width: 20%">
        
        Contact Us
        </a>

</div>



{% endblock %}