{% extends 'base.html' %}

{% block title %}User Login{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="alert alert-danger mx-5" role="alert">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>


<!--LOGIN-->
<div class="container my-5">

    <form action="{{ url_for('auth.customer_login') }}" method="POST">

        <h3>Requestor Login</h3>
        <p>Returning requestors login here</p>

        <div class="form-floating mb-3">
            <input type="text" id="email" placeholder="email"
                class="form-control" name="email">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="password" placeholder="Password"
                class="form-control" name="password">
            <label for="password">Password</label>
        </div>

        <button type="submit" class="btn btn-outline-primary">Login</button>

    </form>

</div>


<!--REQUEST TEST-->
<div class="container my-5">

        <h3 class="my-3">First Time Here?</h3>

        <a class="btn btn-outline-primary mx-auto" 
        href="{{ url_for('views.index') }}" role="button"
        style="width: auto">
        
        Let's Get Started
        </a>

</div>


{% endblock %}