{% extends "base.html" %}

{% block title %}User Signup{% endblock %}

{% block content %}

<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="alert alert-danger mx-5" role="alert">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>


<div class="container my-5">

    <form action="{{ url_for('auth.user_signup') }}" method="POST">
        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" name="first_name"
                placeholder="Name">
            <label for="first_name">First Name</label>
        </div>


        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" name="last_name"
                placeholder="Name">
            <label for="last_name">Last Name</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="email" class="form-control" id="email" name="email"
                placeholder="Email">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="tel" class="form-control" name="phone" id="phone" 
                placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12"/> 
            <label for="phone">Phone Number</label>
            <p class="mx-1"><small>Format: 123-456-7890</small></p>
        </div>


        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" name="password1"
                placeholder="Password">
            <label for="password1">Password</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" name="password2"
                placeholder="Password">
            <label for="password2">Password</label>
        </div>




        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
  
</div>










{% endblock %}