{% extends 'base.html' %}

{% block title %}Contact Support{% endblock %}

{% block content %}


<div class="py-5" style="background-image:linear-gradient(#1e96fc, #11296b);">
    <div class="container">
        <div class="row mb-3 text-center">   
            <h1 class="mb-3" style="color: white;">Get In Touch</h1>
            <p style="color: white;">We can answer any questions you might have about the collection 
                process, the lab analysis, and what to expect after you receive your 
                lab results.</p>
        </div>
    </div>
</div>



<div class="container my-5">

    <form action="{{ url_for('contact.contact_function') }}" method="post">

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="first_name" name="first_name"
                placeholder="First Name">
            <label for="first_name">First Name</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="last_name" name="last_name"
                placeholder="Last Name">
            <label for="last_name">Last Name</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="email" class="form-control" id="email" name="email"
                placeholder="Email">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="tel" class="form-control" name="phone" id="phone" 
                placeholder="Phone Number" maxlength="15"/> 
            <label for="phone">Phone Number</label>
        </div>

        <div class="form-floating mb-3 col-md-12 col-lg-8">
            <textarea class="form-control" id="message" name="message"
                placeholder="Message" style="height: 100px;"></textarea>
            <label for="message">Message</label>
        </div>        

        <div class="g-recaptcha" data-sitekey="recaptcha_site_key"></div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>

<script src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}