{% extends 'base.html' %}

{% block title %}USL | Provider Contact Form{% endblock %}

{% block head %}
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function onSubmit(token) {
      document.getElementById("lab-contact-form").submit();
    }
  </script>
{% endblock %}

{% block content %}

<div class="py-5" style="background-image:linear-gradient(#1e96fc, #11296b);">
    <div class="container">
        <div class="row mb-3 text-center">   
            <h1 class="mb-3" style="color: white;">Excited to Hear From You!</h1>
            <h3 style="color: white;">Contact Form for Analytical Lab Providers</h3>
        </div>
    </div>
</div>


<div class="container my-5">

    <form action="{{ url_for('contact.lab_contact_question') }}" method="POST" id="lab-contact-form">

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="first_name" name="first_name"
                placeholder="First Name">
            <label for="first_name">First Name</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="last_name" name="last_name"
                placeholder="Last Name">
            <label for="last_name">Last Name</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="lab_name" name="lab_name"
                placeholder="Lab Name">
            <label for="lab_name">Lab Name</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="text" class="form-control" id="title" name="title"
                placeholder="Your Title">
            <label for="title">Your Title</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="email" class="form-control" id="email" name="email"
                placeholder="Email">
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3 col-md-8 col-lg-6">
            <input type="tel" class="form-control" name="phone" id="phone" 
                placeholder="Phone Number" maxlength="15"/> 
            <label for="phone">Phone Number</label>
        </div>

        <div class="form-floating mb-3 col-md-12 col-lg-8">
            <textarea class="form-control" id="message" name="message"
                placeholder="Your message here" style="height: 100px;"></textarea>
            <label for="message">Your message here</label>
        </div>        

        <div class="form-floating mb-3 col-md-12 col-lg-8" style="display: none;">
            <input type="hidden" name="phone_number" id="phone_number" 
                value="123-456-7890" placeholder="Phone Number">
            <label for="phone_number">Phone Number</label>
        </div>   

        <button class="g-recaptcha btn btn-primary" 
                data-sitekey="{{ recaptcha_site_key }}" 
                data-callback='onSubmit' 
                data-action='submit'
                type="submit">Submit</button>
    </form>

</div>

{% endblock %}