.section-with-background {
    background-image: url('/static/lab1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media (min-width: 992px) {
    .dropdown-menu {
      margin-right: 50px;
    }
  }
  
  @media (max-width: 991px) {
    .dropdown-menu {
      margin-right: 100px;
    }
  }
  