/*  BRAND COLORS:
NAVY: #11296B
ROYAL BLUE: #1E96FC
GRAY-WHITE: #EDEDED
LIGHTER YELLOW: #FFDB57
DARKER YELLOW: #FFCB05
*/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}


footer {
  margin-top: auto;
}


h1 {
  /* sans-serif is the fallback font */
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

p {
  /* sans-serif is the fallback font */
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.navbar-custom {
  background-color: #1E96FC;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #11296B;
}

.navbar-toggler {
  border: 1px solid #ededed;
}


.btn-primary {
  background-color: #eace5f;
  border-color: black;
  color: black;
}

.btn-primary:hover {
  background-color: #11296B;
  border-color: #eace5f;
  color:white;
}

.footer {
  background-color: #1E96FC;
}

.hover-link {
  color: white;
}

.hover-link:hover {
  color: #11296B;
}


.section-with-background {
    background-image: url('/static/lab1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}






/*small screen*/
@media (max-width: 499px) {
  #lab_techs {
    width: 100px;
    height: auto;
  }
}


/*medium-small screen*/
@media (min-width: 500px) {
  .dropdown-menu {
    margin-right: 50px;
  }

  #lab_techs {
    width: 250px;
    height: auto;
  }
}

/*medium screen*/
@media (min-width: 768px) {
  .dropdown-menu {
    margin-right: 50px;
  }

  #lab_techs {
    width: 350px;
    height: auto;
  }
}


/*large screen*/
@media (min-width: 1024px) {
  .dropdown-menu {
    margin-right: 100px;
  }

  #lab_techs {
    width: 450px;
    height: auto;
  }
}
    


  .table thead th {
    background-color: #eace5f;
  }
  
